{% extends 'base.html' %}





{% block body %}

<style>
       .subscrybe-button {
    background-color: rgb(200,0,0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 15px;
    transition: opacity 0.15s;
    }

   .subscrybe-button:hover{
    opacity: 0.8;
    }

   .subscrybe-button:active{
    opacity: 0.5;
    }


   .join-button{
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style:solid;
    border-width: 1px;
    color: rgb(41, 118, 211);
    padding-left: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 9px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.15s,
    color 0.15s;
    }


   .join-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
    }

   .join-button:active {
    opacity: 0.7;
    }


   .tweet-button{
    background-color: rgb(2, 158, 255);
    border: none;
    color: white;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    transition: box-shadow 0.15s;
    }

    .tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }

</style>


    <button class="subscrybe-button"><b>
        SUBSCRIBE
    </b></button>


    <button class="join-button">
        JOIN
    </button>

    <button class="tweet-button">
        Tweet
    </button>

<p class="video-title">
    Talking Tech and AI with Google CEO Sundar Pichai!
  </p>

  <p class="video-stats">
    3.4M views &#183; 6 months ago
  </p>

  <p class="video-author">
    Marques Brownlee &#10003;
  </p>

  <p class="video-description">
    Talking tech and AI on the heels of Google I/O.
    Also a daily driver phone reveal from Google's CEO. Shoutout to Sundar!
  </p>

  <p class="apple-text">
    Shop early for the best selection of holiday
    favourites. <span class="span-exemple">Shop now ></span>
  </p>

{% endblock %}
